# Created by .ignore support plugin (hsz.mobi)
.gradle/2.14.1/
.java-version
app/build/generated/assets/
app/build/generated/res/
app/build/generated/source/aidl/
app/build/generated/source/apt/
app/build/generated/source/r/androidTest/
app/build/generated/source/rs/
app/build/intermediates/assets/
app/build/intermediates/blame/res/androidTest/
app/build/intermediates/blame/res/debug/single/drawable-hdpi.json
app/build/intermediates/blame/res/debug/single/drawable-ldpi.json
app/build/intermediates/blame/res/debug/single/drawable-mdpi.json
app/build/intermediates/blame/res/debug/single/drawable-xhdpi.json
app/build/intermediates/dependency-cache/
app/build/intermediates/exploded-aar/com.android.support/support-v4/23.1.1/assets/
app/build/intermediates/exploded-aar/com.android.support/support-v4/23.1.1/libs/
app/build/intermediates/exploded-aar/com.android.support/support-v4/23.1.1/res/
app/build/intermediates/incremental-safeguard/
app/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
app/build/intermediates/incremental/mergeDebugAndroidTestResources/compile-file-map.properties
app/build/intermediates/incremental/mergeDebugResources/aapt-temp/
app/build/intermediates/incremental/mergeDebugResources/compile-file-map.properties
app/build/intermediates/incremental/mergeDebugResources/merged.dir/
app/build/intermediates/incremental/mergeDebugShaders/
app/build/intermediates/incremental/packageDebug/
app/build/intermediates/incremental/packageDebugAndroidTest/
app/build/intermediates/incremental/packageRelease/
app/build/intermediates/incremental/processDebugAndroidTestResources/
app/build/intermediates/incremental/processDebugResources/
app/build/intermediates/jniLibs/
app/build/intermediates/manifest/tmp/
app/build/intermediates/manifests/instant-run/
app/build/intermediates/pre-dexed/debug/debug_792bd18bb363971c0bed4343f97c48620c4cfd81.jar
app/build/intermediates/res/merged/androidTest/
app/build/intermediates/res/merged/debug/drawable-hdpi/
app/build/intermediates/res/merged/debug/drawable-ldpi/
app/build/intermediates/res/merged/debug/drawable-mdpi/
app/build/intermediates/res/merged/debug/drawable-xhdpi/
app/build/intermediates/rs/
app/build/intermediates/shaders/
app/build/intermediates/symbols/androidTest/
app/build/intermediates/transforms/extractJars/
app/build/intermediates/transforms/mergeJavaRes/debug/folders/
app/build/intermediates/transforms/mergeJniLibs/
app/build/tmp/
